<div class="bg-gray-300 h-screen">
    <div class="container mx-auto mb-20">
        <h1 class="text-4xl text-center">Le donjon de Drogon</h1>
    </div>
    <div class="grid grid-cols-12 gap-10">
        <div class="col-span-6 lg:col-span-4" *ngFor="let player of players">
            <div class="flex flex-row justify-between">
                <img class="w-20 h-20 rounded-full border-2 border-green-800" src="" alt="">
                <div class="w-2/3">
                    <p class="text-xl">{{player.name}}</p>
                    <div class="flex flex-col mb-5">
                        <label for="char_1_pv">Point de vie :{{player.hp}}</label>
                        <input class="w-20" type="number" name="char_1_pv" id="char_1_pv"
                               [value]="player.hp"
                               (input)="player.hp=setHpValue($event)">
                    </div>
                    <div class="h-4 w-full bg-red-500 relative">
                        <div class="absolute top-0 bottom-0 left-00 h-full bg-green-900" style="width:{{getCurrentHp(player.hp, player.maxHp)}}%"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<router-outlet></router-outlet>
